# This file is used to define code owners for different parts of the repository.
# These owners will be automatically requested for review when a Pull Request touches their files.

# Global owner(s)
* @ErrorX407

# Documentation
/docs/ @ErrorX407
/*.md @ErrorX407

# Core Framework
/src/core/ @ErrorX407
/src/types/ @ErrorX407
